[submodule "examples/detecting_twitter_bots_jubins"]
	path = examples/detecting_twitter_bots_jubins
	url = https://github.com/jubins/MachineLearning-Detecting-Twitter-Bots.git
[submodule "examples/twitter_bot_detection_scrapfishies"]
	path = examples/twitter_bot_detection_scrapfishies
	url = https://github.com/scrapfishies/twitter-bot-detection.git
[submodule "examples/botnet_detection_harvardnlp"]
	path = examples/botnet_detection_harvardnlp
	url = https://github.com/harvardnlp/botnet-detection.git
[submodule "examples/debot_dominoanty"]
	path = examples/debot_dominoanty
	url = https://github.com/dominoanty/Debot.git
[submodule "examples/lstm_rnn_tutorial_with_demo_omerbsezer"]
	path = examples/lstm_rnn_tutorial_with_demo_omerbsezer
	url = https://github.com/omerbsezer/LSTM_RNN_Tutorials_with_Demo.git
[submodule "examples/lstm_sentiment_analysis_changhuixu"]
	path = examples/lstm_sentiment_analysis_changhuixu
	url = https://github.com/changhuixu/LSTM-sentiment-analysis.git
